.type-14 {
  display: block;
}
.type-14 .clear {
  clear: both;
}
.type-14 * {
  box-sizing: border-box;
}
.type-14 .row {
  margin-left: -15px;
  margin-right: -15px;
}
.type-14 .container {
  width: 100%;
  margin: 0 auto;
}
.type-14 .title {
  text-align: center;
}
.type-14 .menu-category {
  width: auto;
  padding: 0px 40%;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}
.type-14 ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.type-14 .menu-category ul {
  width: 100%;
  text-align: center;
}
.type-14 li {
  padding: 0px;
}
.type-14 .menu-category ul li {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  font-family: 'RobotoRegular';
  margin: 0 2px;
}
.type-14 a {
  text-decoration: none;
}
.type-14 a:hover {
  text-decoration: none;
}
.type-14 .menu-category ul li a {
  color: #333333;
  display: block;
  padding: 13px 20px;
}
.type-14 .menu-category ul li .hovers_effect {
  position: relative;
  overflow: hidden;
}
.type-14 .menu-category ul li.current a {
  background-color: #00af5a;
  color: #ffffff;
  font-family: 'RobotoBold';
}
.type-14 .menu-category ul li .hovers_effect:before {
  top: 50%;
}
.type-14 .menu-category ul li .hovers_effect:before {
  content: "";
  display: inline-block;
  background-color: #00af5a;
  opacity: 0;
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
}
.type-14 .menu-category ul li .hovers_effect .hovers_text {
  position: relative;
  z-index: 2;
  transition: color .2s ease-in 0s;
}
.type-14 .menu-category ul li .hovers_effect:after {
  bottom: 50%;
}
.type-14 .menu-category ul li .hovers_effect:after {
  content: "";
  display: inline-block;
  background-color: #00af5a;
  opacity: 0;
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
}
.type-14 .menu-category ul li {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  font-family: 'RobotoRegular';
  margin: 0 2px;
}
.type-14 .hinh img {
  width: 95%;
}
.type-14 .hinh {
  width: 100%;
}
.type-14 .chu {
  width: 100%;
}
